HOST=localhost
PORT=8001

MINIO_ROOT_USER=ROOT
MINIO_ROOT_PASSWORD=ROOT1234
MINIO_PORT=9000
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET_NAME=local-bucket
REDIS_CONNECTION_STRING=redis://localhost:6379
